.div-filtre {

    border-radius: 10px;
    padding: 2px;
    margin-right: 10px;
  }

  .div-annoncesCreate {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

    width:100%;
  }
  
  .my-2{
    width: 100%;
    border: none;

  }

  .h5{
    border: none;
  }
  .CardCreate{
    border: none;
  }

  .cardAnnonceCreate{

    display: flex;
    flex-direction: column;

  }