/* Home.css */

.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .nav-links li {
    list-style: none;
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  
  .not-authenticated {
    text-align: center;
    margin-top: 20px;
  }
  
  .not-authenticated p {
    margin-bottom: 10px;
  }
  
  .not-authenticated a {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      flex-direction: column;
    }
  
    .nav-links li {
      margin-bottom: 10px;
    }
  }
  
  .css-3d-text {
    font-size: 70px;
    color: #07ff39;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(2,250,52),
                 1px 1px 0 rgb(-3,245,47),
                 2px 2px 0 rgb(-8,240,42),
                 3px 3px 0 rgb(-13,235,37),
                 4px 4px 0 rgb(-18,230,32),
                 5px 5px 0 rgb(-23,225,27),
                 6px 6px 0 rgb(-28,220,22),
                 7px 7px 0 rgb(-33,215,17),
                 8px 8px 0 rgb(-38,210,12),
                 9px 9px 0 rgb(-43,205,7),
                 10px 10px  0 rgb(-48,200,2),
                 11px 11px 10px rgba(0,0,0,0.65),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
                 margin-top: 150px;
 }
